// variables
$primary: #f76b31;
$dark-primary: #ab3f11;
$light-primary: #ffa987;
$secondary: #00ab94;
$light-secondary: #31f7dd;
$black: #333;
$pastel-primary: #fcc1a9;
$pastel-dark-primary: #be8f7b;
$pastel-light-primary: #ebb59e;
$pastel-secondary: #a6cfca;
$pastel-light-secondary: #c8fff8;
$bg: #E3FBF8;

$jetbrains: 'JetBrains Mono', monospace;
$josefin: 'Josefin Sans', sans-serif;

// style
* {
    color: $black;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $jetbrains;
    font-weight: 700;
}

nav {
    padding: 8rem;

    a {
        margin: 0 1rem;
    }

    .navbar-brand {
        font-family: $jetbrains;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 0%;
        letter-spacing: -0.025em;


        padding: 0 1.5rem;
    }

    .nav-item {
        font-family: $jetbrains;
    }
}

main {
    padding: 0 8rem;
    background: $bg;

    #projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 0 4rem;
    }

    img {
        margin: 4rem 0;
    }

    p {
        font-size: 2rem;
        font-weight: 300;
    }

    strong {
        color: $dark-primary;
    }

    a {
        color: $dark-primary;
        text-decoration: underline;
        transition: 0.3s;
    }

    a:hover {
        color: $secondary;
    }

    .introduction {
        justify-content: space-around;
        
        img {
            margin-right: 2rem;
            width: 40%;
        }
    }

    .card-group {
       justify-content: center;
       margin: 3rem 0;
       gap: 2rem;

       .card-right-column {
           margin: 2rem 0 0 0;
       }
    }

    .project-card {
        max-width: 416px;
        width: 100%;
        height: 467px;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        background: $pastel-primary;
        border: 2px solid $primary;

        img {
            margin: 1rem 0;
        }

        p {
            font-family: $josefin;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 1rem 3rem;
        }

        .button-group {
            width: 100%;
            display: flex;

            .btn-light {
                color: $black;
            }
        }

        a {
            height: 64px;
            width: 100%;
            border-radius: 0;

            font-family: $josefin;
            font-weight: 700;
            font-size: 1.5rem;
            text-decoration: none;
            color: $black;


            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;

            background: #fff;

            &:hover {
                transition: .3s;
                opacity: 90%;
            }
        }

        .button-dark {
            color: #fdfdfd;
            background: $black;
            height: 64px;
        }
    }

    button {
        width: 10rem;
        align-self: center;
        font-family: $jetbrains;
    }

    #studying {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 0 4rem;

        h2 {
            text-align: center;
        }
    }

    @media(max-width: 900px) {
        .introduction {
            flex-direction: column;

            img {
                width: 100%
            }
        }
    }
} 

footer {
    a:hover {
        transition: .3s;
        opacity: 80%;
    }
}