html, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 20%;

    background-color: #555555;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        width: 200px;
        margin: 1.5rem;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h1 {
        margin: 0;
        font-size: 1.5rem;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0.25rem;

        list-style: none;
        border-radius: 0.5rem;
        cursor: pointer;
        

        .card-info {
            height: 4rem;

            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        img {
            width: 31px;
        }

        &:hover {
            transition: background .3s;
            background-color: #ddd;
        }
    }

    .button-group {
        width: 320px;
        display: flex;
        justify-content: space-around;
        
        button {
            width: 4rem;
            height: 4rem;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: none;
            cursor: pointer;
            font-weight: 700;
            
            background-color: #555555;

            &:hover {
                transition: .5s;
                opacity: 0.8;
            }
        }
    }

    .instructions-container {
        display: flex;
        gap: 8px;

        h3 {
            font-size: 1rem;
            opacity: .75;
        }
    }
}

footer {
    width: 100%;
    height: 10%;

    color: #fdfdfd;

    bottom: 0;
    position: absolute;

    a {
        font-size: 0.5rem;
        text-decoration: none;
        color: #fff;
    }

    p {
        position: absolute;
        bottom: 1rem;
        left: 1.5rem;
    }
}

.background {
    display:none;
    position: absolute;
    margin-top: -999px;
    margin-right: -999px;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
}

.background.active {
    display: flex;
    margin: 0;
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background img {
    width: 70%;
    padding: .5rem;
    margin: .5rem;
    background: #fff;
}

.background div {
    text-align: center;
    padding: .5rem;
    background: #fff;
}